{% extends 'base.html' %}

{% load mptt_tags %}

{% block head_title %}
各国信息导览
{% endblock %}

{% block main %}

<div class="col col-md-8">
	<h6>各国信息导航</h6>
	<ul>
		{% if nodes %}
		{% recursetree nodes %}
		<li>
			{% if node.is_leaf_node %}
			<a href="{% url 'country:get_organisation' node.id %}">
			{{ node.name }}
			</a>
			{% else %}
			{{ node.name }}
			<ul class="children">
				{{ children}}
			</ul>
			{% endif %}
		</li>
		{% endrecursetree %}
		{% else %}
		还没有国家信息
		{% endif %}
	</ul>
</div>
{% endblock %}

