{% extends 'base.html' %}

{% load mptt_tags %}

{% block head_title %}
各国信息导览
{% endblock %}

{% block main %}

<div class="col col-md-10 mx-auto">
	<h5 class="text-center text-info">各国信息导航</h5>
	<ul class="list-group list-group-horizontal">
		{% recursetree countries %}
		<li class="list-group-item text-center list-group-item-secondary">
			{{ node.name }}
		</li>
		{% if not node.is_leaf_node %}
		{% for cty in node.children.all %}
		<li class="list-group-item">
			<a href="{{ cty.get_absolute_url }}">
				{{ cty.name }}
			</a>
		</li>
		{% endfor %}
		{% endif %}
		{% endrecursetree %}
	</ul>
</div>
{% endblock %}

