/* Sticky footer styles
 * -------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	background: #f4f4f4;
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}


/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}
/*breadcrumb*/
.breadcrumb-item+.breadcrumb-item::before {
	content: ">";
}
a {
	color:#333;
}
.post-item .post-item-title a {
	color: #333;
}
.post-item-meta-list+.post-item-meta-list::before {
	content: "·";
	color: #333;
}
/*.dot-divider > *:not(:last-child):after {*/
	/*content: "·";*/
	/*color: #777;*/
/*}*/
/*a:hover {*/
/*text-decoration: none;*/
/*}*/
/* 显示下拉菜单 */
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top:0;
}
#social-login .login-title {
	position: relative;
	display: block;
	margin-bottom: 10px;
}
#social-login span {
	color: #999;
}
/* navbar user icon */
#navbarDropdown .avatar {
	border-radius: 50%;
	width: 40px;
}
.headroom {
	will-change: transform;
	transition: transform 300ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
/* return to top */
#return-to-top {
    position: fixed;
    bottom: 60px;
    right: 80px;
    background: rgb(192, 192, 192);
    background: rgb(192, 192, 192, 0.7);
    /*background: rgb(0.3, 0.3, 0.3, 0.7);*/
    /*background: rgba(0, 0, 0, 0.7);*/
    width: 35px;
    height: 35px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 10px;
    top: 6px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    /*background: rgba(0.6, 0.6, 0.6, 0.9);*/
    background: rgb(128, 128, 128, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 1px;
}
/* toc */
.post-toc {
	position: fixed;
}
.toc >ul > li {
	list-style-type: upper-roman;
	line-height: 1.8em;
	/*color: #0099ff;*/
}
.toc > ul > li >ul > li {
	list-style-type: decimal;
}
/*.toc > ul > li > ul > li:hover {*/
	/*color: #ff6900;*/
/*}*/
