{% extends 'base.html' %}

{% load static %}

{% block head_title %}
身份证属地查询
{% endblock %}

{% block main %}
<div class="col col-md-9">
	<h5>身份证属地查询</h5>
	<div class="input-group mb-3">
		<input id="idnumber" name="cardid" type="text" class="form-control" placeholder="身份证号或前6位" aria-label="id value" aria-describedby="basic-addon2">
		<div class="input-group-append">
			<button id="get-cardid" class="btn btn-outline-info" type="button"
							data-csrf="{{ csrf_token }}"
			data-ajax-url="{% url 'tool:get_cardid' %}">
				查找
			</button>
		</div>
	</div>
	<div class="input-group mb-3">
		<input id="idname" name="cardname" type="text" class="form-control" placeholder="属地名称" aria-label="id value" aria-describedby="basic-addon2">
		<div class="input-group-append">
			<button id="get-cardname" class="btn btn-outline-info" type="button"
							data-csrf="{{ csrf_token }}"
			data-ajax-url="{% url 'tool:get_cardname' %}">
				查找
			</button>
		</div>
	</div>
	<div id="result">
		查询结果显示
	</div>
</div>
{% endblock %}

{% block end_file %}
<script src="{% static 'tool/js/idplace.js' %}" charset="utf-8"></script>
{% endblock %}
