{% extends 'blog/base.html' %}
{% load static blog_tags %}

{% block metas %}
<meta name="description" content="{{ post.excerpt }}">	
<meta name="keywords" content="{{ post.category.name }},{% for tag in post.tags.all %}{{ tag.name }},{% endfor %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="{% static 'comment/css/base_comment.css' %}">
{% endblock metas %}

{% block head_title %}
{{ post.title }} - 博文	
{% endblock head_title %}

{% block content_nav %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item">
			<a href="{% url 'blog:index' %}"><i class="fa fa-home mr-1"></i>首页</a>
		</li>	
		<li class="breadcrumb-item">
			<a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>

	</ol>
</nav>
{% endblock content_nav %}

{% block content %}
<article class="post-item bg-white p-3 mb-2">
	<h4 class="post-item-title">{{ post.title }}</h4>
	<div class="post-item-meta">
		<ul class="list-inline small dot-divider text-muted">
			<li class="list-inline-item">{{ post.c_time }}</li>
			<li class="list-inline-item">{{ post.author.username }}</li>
			<li class="list-inline-item">{{ post.views }}阅读</li>
			<li class="list-inline-item"><a href="#comment-area">{{ post.post_comments.count }}评论</a></li>

		</ul>
	</div>
	<div class="post-item-content clearfix">
		{{ post.body|safe }}
		<div class="post-item-tag">
			<ul class="list-inline">
				<span>标签：</span>
				{% for tag in post.tags.all %}
				<li class="list-inline-item text-secondary small">
					<a href="{% url 'blog:tag' tag.pk %}">
						{{ tag.name }}({{ tag.entry_set.count }})
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="more-page f-16">
			<ul class="pagination justify-content-between">
				{% get_previous_post post as prev_post %}
				
				<li class="page-item">
					<a class="d-none d-md-block" href="{{ prev_post.get_absolute_url }}">
						{% if prev_post %}
							<i class="fa fa-chevron-left mr-1"></i>
						{% endif %}{{ prev_post.title|truncatechars:20 }}
					</a>
				</li>
				{% get_next_post post as next_post %}
				<li class="page-item">
					<a class="d-none d-md-block" href="{{ next_post.get_absolute_url }}">
						{{ next_post.title|truncatechars:20 }}
						{% if next_post %}
						<i class="fa fa-chevron-right ml-1"></i>
						{% endif %}
					</a>
				</li>
			</ul>
		</div>
	</div>
</article>
<div class="card border-0">
<div class="social-share-cs">分享：</div>
</div>
<div class="card mt-2 rounded-0 border-0" id="comment-area">
{% include "comment/comment_form.html" %}
{% include "comment/comment_list.html" %}
</div>
{% endblock content %}

{% block sidebar %}
{% block toc %}
<div class="card border-0 post-toc">
	<div class="card-body">
		{% if post.toc %}
		{{ post.toc|safe }}
		{% else %}
			没有目录
		{% endif %}
	</div>
</div>
{% endblock toc %}
{% endblock sidebar %}

{% block end_file %}
<!--  css & js 通过share.js设置分享功能 -->
<link rel="stylesheet" href="{% static 'blog/dist/css/share.min.css' %}">
<script src="{% static 'blog/dist/js/social-share.min.js' %}"></script>
<script charset="utf-8">
	var $config = {
	disabled: ['google'],
	wechatQrcodeTitle: '微信扫一扫：分享',
	};
	socialShare('.social-share-cs', $config);
</script>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'comment/js/editor.js' %}" charset="utf-8"></script>
{% endblock %}
