{% extends 'blog/base.html' %}

{% load static %}

{% block head_title %}
{% if current_title %}
{{ current_obj.name }}-{{ current_title }}	
{% else %}
博客首页
{% endif %}
{% endblock head_title%}

{% block content_nav %}
<div class="bg-white p-2">
	<a class="pb-2" href="/">最新</a>
	<a class="pb-2 ml-4" href="/popular/">最热</a>
	<a class="pb-2 ml-4 float-md-right" href="{% url 'rss' %}">
		<i class="fa fa-rss mr-1" aria-hidden="true"></i>
		RSS订阅
	</a>
</div>
{% endblock content_nav %}

{% block content %}
{% for post in post_list %}
<article class="post-item mb-2 bg-white p-2">
	<div class="post-item-meta small text-muted">
		<ul class="mb-1 list-inline dot-divider">
			<li class="list-inline-item post-item-meta-list">
				{{ post.author }}
			</li>
			<li class="list-inline-item post-item-meta-list">
				{{ post.c_time }}
			</li>
		</ul>
	</div>
	<h5 class="post-item-title font-weight-bold">
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h5>
	<div class="post-item-excerpt">
		{{ post.excerpt }}......
	</div>
	<div class="entry-item-statistic small text-muted">
		<a class="mr-2" role="button" href="{{ post.category.get_absolute_url }}"><i class="fa fa-book mr-1" aria-hidden="true"></i>{{ post.category.name }}</a>
		<a class="mr-2" role="button" href="{{ post.get_absolute_url }}"><i class="fa fa-eye mr-1" aria-hidden="true"></i>{{ post.views }}</a>
		<a class="mr-2" role="button" href="{{ post.get_absolute_url }}#comment-area"><i class="fa  fa-comment mr-1" aria-hidden="true"></i>{{ post.post_comments.count }}</a>
	</div>
</article>
{% empty %}
<div class="no-post">暂时还没有发布文章!</div>
{% endfor %}

{% if is_paginated %}
{% include "base/paginator.html" %}
{% endif %}

{% endblock content %}

{% block sidebar %}
{% include "box/random_summary.html" %}
{% include "blog/blog_categories.html" %}
{% include "blog/blog_comments.html" %}
{% include "blog/blog_tags.html" %}
{% endblock sidebar %}
