{% extends 'blog/base_index.html' %}

{% block content_nav %}
<div class="bg-white p-2">
	<a class="pb-2" href="/">最新</a>
	<a class="pb-2 ml-4" href="/popular/">最热</a>
	<a class="pb-2 ml-4 float-md-right" href="{% url 'rss' %}">
		<i class="fa fa-rss mr-1" aria-hidden="true"></i>
		RSS订阅
	</a>
</div>
{% endblock content_nav %}

{% block content %}
{% for post in post_list %}
<article class="post-item mb-2 bg-white p-2">
	<div class="post-item-meta small text-muted">
		<ul class="mb-1 list-inline dot-divider">
			<li class="list-inline-item post-item-meta-list">
				{{ post.author }}
			</li>
			<li class="list-inline-item post-item-meta-list">
				{{ post.c_time }}
			</li>
		</ul>
	</div>
	<h5 class="post-item-title font-weight-bold">
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h5>
	<div class="post-item-excerpt">
		{{ post.excerpt }}......
	</div>
	<div class="entry-item-statistic small text-muted">
		<a class="mr-2" role="button" href="{{ post.category.get_absolute_url }}"><i class="fa fa-book mr-1" aria-hidden="true"></i>{{ post.category.name }}</a>
		<a class="mr-2" role="button" href="{{ post.get_absolute_url }}"><i class="fa fa-eye mr-1" aria-hidden="true"></i>{{ post.views }}</a>
		<a class="mr-2" role="button" href="{{ post.get_absolute_url }}#comment"><i class="fa  fa-comment mr-1" aria-hidden="true"></i>{{ post.comment_set.count }}</a>
	</div>
</article>
{% empty %}
<div class="no-post">暂时还没有发布文章!</div>
{% endfor %}

{% if is_paginated %}
<div class="post-pagination">
	<nav>
	<ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
		{% endif %}
		{% if first %}
		<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
		{% endif %}
		{% if left %}
		{% if left_has_more %}
		<li class="page-item">...</li>
		{% endif %}
		{% for pg in left %}
		<li class="page-item"><a class="page-link" href="?page={{pg}}">{{ pg }}</a></li>
		{% endfor %}
		{% endif %}
		<li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
		{% if right %}
		{% for pg in right %}
		<li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
		{% endfor %}
		{% if right_has_more %}
		<li class="page-item">...</li>
		{% endif %}
		{% endif %}
		{% if last %}
		<li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
		{% endif %}
		{% if page_obj.has_next %}
		<li class="page-item"><a class="page-link"href="?page={{ page_obj.next_page_number }}">下一页</a></li>
		{% endif %}
	</ul>
	</nav>
</div>
{% endif %}
{% endblock content %}
