{% extends 'blog/base.html' %}

{% load static %}
{% load blog_tags %}

{% block title %}博客首页{% endblock title%}

{% block content_nav %}
<div class="bg-white p-2">
	<a class="pb-2" href="/">最新</a>
	<a class="pb-2 ml-4" href="/popular/">最热</a>
	<a class="pb-2 ml-4 float-md-right" href="{% url 'rss' %}">
		<i class="fa fa-rss mr-1" aria-hidden="true"></i>
		RSS订阅
	</a>
</div>
{% endblock content_nav %}

{% block content %}
{% for post in post_list %}
<article class="post-item mb-2 bg-white p-2">
	<div class="post-item-meta small text-muted">
		<ul class="mb-1 list-inline dot-divider">
			<li class="list-inline-item post-item-meta-list">
				{{ post.author }}
			</li>
			<li class="list-inline-item post-item-meta-list">
				{{ post.c_time }}
			</li>
		</ul>
	</div>
	<h5 class="post-item-title font-weight-bold">
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h5>
	<div class="post-item-excerpt">
		{{ post.excerpt }}......
	</div>
	<div class="entry-item-statistic small text-muted">
		<a class="mr-2" role="button" href="{{ post.category.get_absolute_url }}"><i class="fa fa-book mr-1" aria-hidden="true"></i>{{ post.category.name }}</a>
		<a class="mr-2" role="button" href="{{ post.get_absolute_url }}"><i class="fa fa-eye mr-1" aria-hidden="true"></i>{{ post.views }}</a>
		<a class="mr-2" role="button" href="{{ post.get_absolute_url }}#comment-area"><i class="fa  fa-comment mr-1" aria-hidden="true"></i>{{ post.post_comments.count }}</a>
	</div>
</article>
{% empty %}
<div class="no-post">暂时还没有发布文章!</div>
{% endfor %}

{% if is_paginated %}
<div class="post-pagination">
	<nav>
		<ul class="pagination justify-content-center">
			{% if page_obj.has_previous %}
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
			{% endif %}
			{% if first %}
			<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
			{% endif %}
			{% if left %}
			{% if left_has_more %}
			<li class="page-item">...</li>
			{% endif %}
			{% for pg in left %}
			<li class="page-item"><a class="page-link" href="?page={{pg}}">{{ pg }}</a></li>
			{% endfor %}
			{% endif %}
			<li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
			{% if right %}
			{% for pg in right %}
			<li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
			{% endfor %}
			{% if right_has_more %}
			<li class="page-item">...</li>
			{% endif %}
			{% endif %}
			{% if last %}
			<li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
			{% endif %}
			{% if page_obj.has_next %}
			<li class="page-item"><a class="page-link"href="?page={{ page_obj.next_page_number }}">下一页</a></li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endif %}
{% endblock content %}

{% block sidebar %}
<!--
<div class="card border-0">
	<h6 class="card-title">最新文章</h6>
	{% get_recent_posts as post_list %}
	<div class="card-body">
	<ul>
		{% for post in post_list %}
		<li>
			<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
		</li>
		{% empty %}
		<li>没有最新文章</li>
		{% endfor %}
	</ul>
	</div>
</div>
-->
<div class="card border-0 bg-white p-2 mb-2">
	<h6 class="card-title"><i class="fa fa-book mr-2"></i>分类</h6>
	{% get_categories as categories %}
	<ul>
		{% for category in categories %}
		<li>
			<a href="{% url 'blog:category' category.pk %}">
				{{ category.name }}<span class="post-count">({{ category.num_posts }})</span>
			</a>
		</li>
		{% empty %}
		<li>还没有分类</li>
		{% endfor %}
	</ul>
</div>

<div class="cardw border-0 bg-white p-2 mb-2">
	<h6 class="card-title"><i class="fa fa-sitemap mr-2"></i>归档</h6>
	{% archive as date_list %}
	<ul>
		{% for date in date_list %}
		<li>
			<a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }}年{{ date.month }}月</a>
		</li>
		{% empty %}
		<li>
			还没有归档
		</li>
		{% endfor %}
	</ul>
</div>

<div class="card border-0 bg-white p-2 mb-2">
	<h6 class="card-title"><i class="fa fa-tags mr-2"></i>标签云</h6>
	{% get_tags as taglist %}
	<div class="tag-cloud">
		<ul class="list-inline">
		{% for tag in taglist %}
		<li class="list-inline-item small">
			<a title="{{tag.name}}标签下有{{tag.num_posts}}篇文章" href="{% url 'blog:tag' tag.pk %}">
			{{ tag.name }}({{ tag.num_posts }})
		</a>
		</li>
		{% empty %}
		还没有标签.
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock sidebar %}

