{% extends 'box/base.html' %}
{% load box_tags %}

{% block head_title %}
{% if current_obj %}
{{ current_obj.name }} -
{% endif %}
书籍列表
{% endblock head_title%}

{% block content_nav %}
	<div class="bg-white p-2">
		<a href="{% url 'box:index' %}">文摘</a> -> 书籍列表
	</div>
{% endblock content_nav %}

{% block content %}
{% for book in books %}
<div class="post-item mb-2 bg-white p-2">
	<p>
		<a href="{% url 'box:book_detail' book.id %}">
		《{{ book.name }}》
		</a>
	</p>
	<ul class="list-inline">
		<span class="small">作者：</span>
		{% for author in book.authors.all %}
		<li class="list-inline-item text-secondary small">
			<a href="{% url 'box:author_books' author.id %}">
				{{author.name}}
			</a>
		</li>
		{% endfor %}
	</ul>
	<ul class="list-inline">
		<span class="small">出版社：</span>
		<li class="list-inline-item text-secondary small">
			{{ book.publisher.name }}
		</li>
	</ul>
</div>
{% endfor %}
{% display_pages %}
{% if is_paginated %}
{% include "base/paginator.html" %}
{% endif %}
{% endblock content %}
