{% extends 'box/base.html' %}

{% block title %}文摘-{{ book.name }}{% endblock title%}

{% block content_nav %}
<div class="bg-white p-2">
	<a href="{% url 'box:index' %}">文摘</a> -> {{ book.name }}
</div>
{% endblock content_nav %}

{% block content %}
{% for summary in book.summary_set.all %}
<div class="post-item mb-2 bg-white p-2">
	<blockquote class="blockquote small">
		<a class="small" href="{% url 'box:summary_detail' summary.id %}">
			{{ summary.content|slice:'50'|safe }}......
		</a>
		<footer class="blockquote-footer text-right">
			{{ summary.page }}《{{ summary.book.name }}》
		</footer>
	</blockquote>
</div>
{% endfor %}
{% endblock content %}

{% block sidebar %}
<div class="card border-0 bg-white p-2 mb-2">
	<h6 class="card-title"><i class="fa fa-book mr-2"></i>读后感</h6>
	<ul>
		{% if book.thoughts %}
		<li>
			<a href="{{ book.thoughts.get_absolute_url }}">
				{{ book.thoughts.title }}
			</a>
		</li>
		{% else %}
		<li>还没有读后感</li>
		{% endif %}
	</ul>
</div>
{% endblock sidebar %}
