{% extends 'box/base.html' %}

{% block title %}文摘-{{ subject.name }}{% endblock title%}

{% block content_nav %}
<div class="bg-white p-2">
	主题：{{ subject.name }} -> 文摘
</div>
{% endblock content_nav %}

{% block content %}
{% for summary in subject.summary_set.all %}
<div class="post-item mb-2 bg-white p-2">
	<blockquote class="blockquote small">
		<a class="small" href="{% url 'box:summary_detail' summary.id %}">
			{{ summary.content|slice:'50'|safe }}......
		</a>
		<footer class="blockquote-footer text-right">
			{{ summary.page }}《{{ summary.book.name }}》
		</footer>
	</blockquote>
</div>
{% endfor %}
{% endblock content %}
