{% extends 'box/base.html' %}

{% load static %}

{% block head_title %}文摘详情 - {{ summary.book.name }}{% endblock head_title%}

{% block content_nav %}
<div class="bg-white p-2">
	<a href="{% url 'box:index'%}">文摘列表</a> -> <a href="{% url 'box:book_detail' summary.book.id %}">{{ summary.book.name }}</a>-> 文摘详情
</div>
{% endblock content_nav %}

{% block content %}
<div class="post-item mb-2 bg-white p-2">
	{{ summary.content_html|safe }}
	<div class="summary-detail">
		<p class="small">
		<span>来源：{{ summary.page }}
			<a href="{% url 'box:book_detail' summary.book.id %}">《{{ summary.book.name }}》</a>
		</span>
		<span class="pull-right">创建时间：{{ summary.c_time}}</span>
		</p>
		<ul class="list-inline">
			<span class="small">作者：</span>
			{% for author in summary.book.authors.all %}
			<li class="list-inline-item text-secondary small">
				<a href="{% url 'box:author_books' author.id %}">
					{{author.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="list-inline">
			<span class="small">主题：</span>
			{% for subject in summary.subjects.all %}
			<li class="list-inline-item text-secondary small">
				<a href="{% url 'box:subject_detail' subject.id %}">
					{{subject.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="list-inline">
			<div class="social-share-cs">分享：</div>
		</ul>
	</div>
</div>
{% endblock content %}

{% block end_file %}
<!--  css & js 通过share.js设置分享功能 -->
<link rel="stylesheet" href="{% static 'blog/dist/css/share.min.css' %}">
<script src="{% static 'blog/dist/js/social-share.min.js' %}"></script>
<script charset="utf-8">
	var $config = {
	disabled: ['google'],
	wechatQrcodeTitle: '微信扫一扫：分享',
	};
	socialShare('.social-share-cs', $config);
</script>
{% endblock %}
