{% extends 'users/base.html' %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
个人资料
{% endblock head_title %}

{% block user_title %}
个人资料
{% endblock user_title %}

{% block form_body %}
<ul class="list-group">
	<li class="list-group-item text-center border-0">
		<img class="avatar" src="{{ user.avatar.url }}" alt="{{ user }}" />
	</li>
	<li class="list-group-item ml-5 border-0">
		<span class="font-weight-bold">用户名：</span>
		<span> {{ user.username }} </span>
	</li>
	<li class="list-group-item ml-5 border-0">
		<span class="font-weight-bold">邮  箱：</span>
		<span> {{ user.email }} </span>
	</li>
	<li class="list-group-item ml-5 border-0">
		<span class="font-weight-bold">网    址：</span>
		<span> {{ user.site_url }} </span>
	</li>
</ul>
{% endblock form_body %}

