[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=teddy
WorkingDirectory=/home/teddy/sites/DOMAIN/blogproject
EnvironmentFile=/home/teddy/sites/DOMAIN/blogproject/.env

ExecStart=/home/teddy/sites/DOMAIN/venv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    blogproject.wsgi:application

[Install]
WantedBy=multi-user.target
